/* general */
*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    position: relative;
    scroll-behavior: smooth;
    font-family: "ff-good-headline-web-pro-ext", "Arial", sans-serif;
}

html {
    background: #caf2f1 url("../img/background-gradient.png") repeat top center;
    background-size: cover;
}

body {
    overflow-x: hidden;
}

.wrapper {
    width: 80%;
    max-width: 1250px;
    margin: 0 auto;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

/* header */
.header {
    padding: 1rem 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.link {
    text-decoration: none;
}

.header__social-icons {
    display: none;
}

.social-icons__link {
    opacity: 0.6;
    transition: opacity 0.3s;
}

.social-icons__link:hover {
    opacity: 1;
}

.social-icons__link:nth-of-type(2) {
    margin-left: 14px;
}

.header__languages {
    display: none;
}

.languages__link {
    color: #333d3c;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 1.8px;
    position: relative;
}

.languages__link:nth-of-type(2) {
    margin-left: 14px;
}

.languages__link::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #333d3c;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: width 0.3s;
}

.languages__link:hover::after {
    width: 100%;
}

/* navigation */
.hamburger {
    width: 50px;
    height: 45px;
    display: inline-block;
    cursor: pointer;
    border: 0;
    margin: 0;
    background-color: transparent;
    z-index: 3;
    position: fixed;
    top: 2.5rem;
    right: 1.5rem;
}

.hamburger, .navigation {
    transition: transform .3s .1s ease-in-out, visibility 0s .4s;
}

.hamburger--active {
    background-color: transparent;
}

.hamburger__box {
    width: 35px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger__inner {
    width: 100%;
    height: 2px;
    background-color: #333d3c;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.1s 0.2s ease-in-out;
}

.hamburger__inner::before,
.hamburger__inner::after {
    width: 100%;
    height: 2px;
    background-color: #333d3c;
    position: absolute;
    content: "";
    left: 0;
    transition: transform 0.2s 0.2s ease-in-out;
}

.hamburger__inner::before {
    top: -10px;
}

.hamburger__inner::after {
    top: 10px;
}

.hamburger--active .hamburger__inner {
    background-color: transparent;
}

.hamburger--active .hamburger__inner:before {
    transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__inner:after {
    transform: translateY(-10px) rotate(-45deg);
}

.navigation {
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    transform: translateX(100%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navigation--active {
    transform: translateX(0px);
    transition: transform .3s .1s ease-in-out, visibility 0s 0s;
    visibility: visible;
}

.navigation__list {
    width: 80%;
    margin: 2rem 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navigation__link {
    width: 100%;
    background-color: #caf2f1;
    color: #333d3c;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    padding: 0.2rem 0;
    line-height: 1.5;
    transition: background 0.3s;
}

.navigation__link:hover {
    background-color: #eee0c9;
}

/* hero */
.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem 0;
}

.hero__text-wrapper {
    width: 100%;
    height: 400px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: url("../img/box.png") no-repeat bottom/contain;
    position: relative;
}

.hero__text-wrapper::after {
    width: 100%;
    height: 100%;
    content: "";
    background: url("../img/box-shadow.png") no-repeat center/contain;
    position: absolute;
    bottom: -40%;
    left: 0;
    z-index: -3;
}

.hero__title {
    color: #586967;
    font-size: 1.2rem;
    font-weight: lighter;
    letter-spacing: 2.4px;
    margin: 0;
}

.hero__big-paragraph {
    width: 100%;
    color: #333d3c;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 8px;
    margin: 1.5rem 0;
}

.hero__btn {
    color: #fff;
    font-size: 1.6rem;
    letter-spacing: 2.4px;
    padding: 0.5rem 1rem;
    margin-bottom: 8rem;
}

.draw-border {
    box-shadow: inset 0 0 0 2px #fff;
    color: #fff;
    transition: color 0.3s;
    position: relative;
}

.draw-border::before, .draw-border::after {
    content: "";
    box-sizing: border-box;
    border: 0 solid transparent;
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

.draw-border::before {
    border-bottom-width: 2px;
    border-left-width: 2px;
}

.draw-border::after {
    border-top-width: 2px;
    border-right-width: 2px;
}

.draw-border:hover {
    color: #333d3c;
}

.draw-border:hover::before, .draw-border:hover::after {
    border-color: #333d3c;
    transition: border-color 0s, width 0.3s, height 0.3s;
    width: 100%;
    height: 100%;
}

.draw-border:hover::before {
    transition-delay: 0s, 0s, 0.3s;
}

.draw-border:hover::after {
    transition-delay: 0s, 0.3s, 0s;
}

.scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.scroll__item {
    padding: 60px;
    color: #333d3c;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    position: relative;
    transition: all 0.3s;
}

.scroll__item:hover {
    color: #fff;
    font-weight: bold;
}

.scroll__item::before,
.scroll__item::after {
    content: "";
    width: 2px;
    position: absolute;
    top: 100px;
    left: 50%;
    transition: all 1s;
}

.scroll__item::before {
    height: 121px;
    background-color: #333d3c;
}

.scroll__item::after {
    height: 0;
    background-color: #fff;
}

.scroll__item:hover::after {
    height: 121px;
}

/* about-us */
.about-us {
    padding: 0;
}

.about-us__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.about-us__logos-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-us__logo-wrapper {
    margin: 2.5rem 0;
    position: relative;
}

.sup-number {
    color: #868782;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    position: absolute;
    top: 20%;
    margin-left: 0;
}

.about-us__second-logo-background {
    position: absolute;
    bottom: -100%;
    left: -10%;
    z-index: -1;
}

.about-us__text-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
}

.about-us__paragraph {
    color: #868782;
    font-size: 0.9rem;
    line-height: 20px;
    letter-spacing: 0.07px;
    font-family: "sofia-pro", "Arial", sans-serif;
    margin-bottom: 2rem;
}

.about-us__member {
    max-width: 650px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0.5rem 0;
    line-height: 30px;
}

.member__position {
    color: #868782;
    font-size: 1rem;
    letter-spacing: 1.6px;
}

.member__underline {
    flex-grow: 1;
    border-bottom: 1px solid #333d3c;
}

.member__name {
    color: #333d3c;
    font-size: 1.5rem;
    letter-spacing: 2.4px;
    text-align: right;
}

.member__btn {
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 2.4px;
    background-color: #bab8ac;
    padding: 0 0.3rem;
    margin-left: 0;
    transition: background 0.3s;
}

.member__btn:hover {
    background-color: #333d3c;
}

/* mission */
.slider__wrapper {
    width: 100%;
    min-height: 215px;
    padding: 0.5rem 2rem;
    background-color: rgba(255, 242, 221, 0.62);
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.slider__paragraph {
    width: 100%;
    opacity: 0.49;
    color: #455251;
    font-family: "sofia-pro", "Arial", sans-serif;
    font-size: 0.9rem;
    line-height: 18px;
    letter-spacing: 0.07px;
    text-align: center;
}

.slider__headers {
    width: 100%;
    height: 100%;
    margin: 1rem 0 0.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider__headers::after {
    content: "";
    width: 1px;
    height: 180%;
    background-color: #333d3c;
    position: absolute;
    top: -40%;
    left: -2rem;
    display: none;
}

.slider__btn-header {
    width: 200px;
    color: #333d3c;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    margin: 0;
    text-align: left;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
}

.slider__btn-header--active {
    font-size: 3rem;
}

.slider__span {
    margin-right: 0.5rem;
}

.slider__btn {
    width: 30px;
    height: 30px;
    background-color: #bab8ac;
    border-radius: 50%;
    border: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s;
    position: absolute;
    top: 50%;
    right: 2rem;
    display: none;
}

.slider__icon {
    width: 8px;
    height: 15px;
    color: #ffffff;
}

.slider__btn:hover {
    background-color: #333d3c;
}

/* footer */
.footer {
    padding: 3rem 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__first-logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__social-icons {
    margin: 2rem 0 1rem;
}

.social-icons__link--opacity {
    opacity: 0.8;
}

.footer-navigation {
    margin: 1rem 0 1.5rem;
    padding: 0;
    text-transform: uppercase;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-navigation__item {
    margin: 0.4rem 0;
    position: relative;
}

.footer-navigation__item:first-of-type {
    margin-left: 0;
}

.footer-navigation__item::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #333d3c;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: all 0.3s;
}

.footer-navigation__item:hover::after {
    width: 100%;
}

.footer-navigation__link {
    color: #333d3c;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 1.8px;
}

.footer__second-logo {
    width: 100%;
    text-align: center;
}

/* media queries*/
@media only screen and (min-width: 900px) {

    /* header */
    .header__social-icons {
        display: block;
    }

    .header__languages {
        display: block;
    }

    /* navigation */
    .hamburger {
        background-color: #333d3c;
        top: 50%;
        right: 0;
    }

    .hamburger__inner {
        background-color: #eee0c9;
    }

    .hamburger__inner::before,
    .hamburger__inner::after {
        background-color: #eee0c9;
    }

    .hamburger--active {
        background-color: transparent;
        top: 2.5rem;
        right: 1.5rem;
    }

    /* hero */
    .hero__text-wrapper {
        height: 700px;
    }

    .hero__title {
        font-size: 1.6rem;
    }

    .hero__big-paragraph {
        font-size: 6rem;
        margin: 3rem 0;
    }

    .scroll {
        display: block;
    }

    /* about-us */
    .about-us {
        padding: 5rem 0;
    }

    .about-us__wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .about-us__logos-wrapper {
        width: 50%;
        display: flex;
        justify-content: flex-start;
    }

    .about-us__text-wrapper {
        width: 50%;
        justify-content: flex-start;
        margin-top: 0;
    }

    /* mission */
    .slider__wrapper {
        width: 90%;
        flex-direction: row;
    }

    .slider__paragraph {
        width: 50%;
    }

    .slider__headers {
        width: 50%;
        margin: 0 3rem;
        align-items: flex-start;
    }

    .slider__btn-header {
        text-align: left;
    }

    .slider__headers::after {
        display: block;
    }

    .slider__btn {
        display: block;
    }

    /* footer */
    .footer {
        padding: 1rem 3rem;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer__first-logo {
        width: 20%;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer__social-icons {
        margin: 0;
    }

    .footer-navigation {
        margin: 0;
        flex-direction: row;
    }

    .footer-navigation__item {
        margin: 0 0.8rem;
    }

    .footer-navigation__link {
        font-size: 1rem;
    }

    .footer__second-logo {
        width: 15%;
        text-align: right;
    }
}

@media only screen and (min-width: 1100px) {

    /* about-us */
    .about-us__member {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }

    .member__btn {
        margin-left: 0.5rem;
    }
}

/*
notebook
fonts:
font-family: "sofia-pro", sans-serif;
font-family: "ff-good-headline-web-pro-ext", sans-serif;

do HTML na parallax <!-- <div id="parallax"></div> -->
#parallax {
    position: relative;
    width: 1000px;
    height: 636px;
    background-image: url("../img/box.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
    z-index: -3;
}
*/
