/* general */
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    position: relative;
    scroll-behavior: smooth;
    font-family: "ff-good-headline-web-pro-ext", "Arial", sans-serif;
}

html {
    background: rgb(202, 242, 241);
    background: -o-linear-gradient(left, rgba(202, 242, 241, 1) 24%, rgba(243, 221, 195, 1) 66%);
    background: -webkit-gradient(linear, left top, right top, color-stop(24%, rgba(202, 242, 241, 1)), color-stop(66%, rgba(243, 221, 195, 1)));
    background: linear-gradient(90deg, rgba(202, 242, 241, 1) 24%, rgba(243, 221, 195, 1) 66%);
}

body {
    overflow-x: hidden;
}

.wrapper {
    width: 90%;
    max-width: 1250px;
    margin: 0 auto;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

/* header */
.header {
    position: relative;
}

.header__wrapper {
    padding: 1rem 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.link {
    text-decoration: none;
}

.header__social-icons {
    display: none;
}

.social-icons__link {
    opacity: 0.6;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.social-icons__link:hover {
    opacity: 1;
}

.social-icons__link:nth-of-type(2) {
    margin-left: 14px;
}

.header__languages {
    display: none;
}

.languages__link {
    color: #333d3c;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 1.8px;
    position: relative;
}

.languages__link:nth-of-type(2) {
    margin-left: 14px;
}

.languages__link::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #333d3c;
    position: absolute;
    left: 0;
    bottom: -4px;
    -webkit-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

.languages__link:hover::after {
    width: 100%;
}

.header__background-image {
    position: absolute;
    z-index: -3;
}

.header__background-image--first {
    top: 0;
    left: 30%;
}

.header__background-image--second {
    top: 100%;
    left: 25%;
}

.header__background-image--third {
    top: 120%;
    left: 30%;
}

.header__background-image--fourth {
    top: 22%;
    left: 28%;
}

.header__background-image--fifth {
    top: 150%;
    left: 35%;
}

/* navigation */
.hamburger {
    width: 50px;
    height: 50px;
    display: inline-block;
    cursor: pointer;
    border: 0;
    margin: 0;
    background-color: transparent;
    z-index: 3;
    position: fixed;
    top: 2.5rem;
    right: 2.5rem;
}

.hamburger, .navigation {
    -webkit-transition: visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;
    transition: visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;
    -o-transition: transform .3s .1s ease-in-out, visibility 0s .4s;
    transition: transform .3s .1s ease-in-out, visibility 0s .4s;
    transition: transform .3s .1s ease-in-out, visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;
}

.hamburger--active {
    background-color: transparent;
}

.hamburger__box {
    width: 35px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger__inner {
    width: 100%;
    height: 3px;
    background-color: #333d3c;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: background-color 0.1s 0.2s ease-in-out;
    -o-transition: background-color 0.1s 0.2s ease-in-out;
    transition: background-color 0.1s 0.2s ease-in-out;
}

.hamburger__inner::before,
.hamburger__inner::after {
    width: 100%;
    height: 3px;
    background-color: #333d3c;
    position: absolute;
    content: "";
    left: 0;
    -webkit-transition: -webkit-transform 0.2s 0.2s ease-in-out;
    transition: -webkit-transform 0.2s 0.2s ease-in-out;
    -o-transition: transform 0.2s 0.2s ease-in-out;
    transition: transform 0.2s 0.2s ease-in-out;
    transition: transform 0.2s 0.2s ease-in-out, -webkit-transform 0.2s 0.2s ease-in-out;
}

.hamburger__inner::before {
    top: -10px;
}

.hamburger__inner::after {
    top: 10px;
}

.hamburger--active .hamburger__inner {
    background-color: transparent;
}

.hamburger--active .hamburger__inner:before {
    -webkit-transform: translateY(10px) rotate(45deg);
    -ms-transform: translateY(10px) rotate(45deg);
    transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__inner:after {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
}

.navigation {
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.navigation--active {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: visibility 0s 0s, -webkit-transform .3s .1s ease-in-out;
    transition: visibility 0s 0s, -webkit-transform .3s .1s ease-in-out;
    -o-transition: transform .3s .1s ease-in-out, visibility 0s 0s;
    transition: transform .3s .1s ease-in-out, visibility 0s 0s;
    transition: transform .3s .1s ease-in-out, visibility 0s 0s, -webkit-transform .3s .1s ease-in-out;
    visibility: visible;
}

.navigation__list {
    width: 80%;
    margin: 2rem 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.navigation__link {
    width: 100%;
    background-color: #caf2f1;
    color: #333d3c;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    padding: 0.2rem 0;
    line-height: 1.5;
    -webkit-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
}

.navigation__link:hover {
    background-color: #eee0c9;
}

/* hero */
.hero {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 6rem 0;
    position: relative;
}

.hero__text-wrapper {
    width: 100%;
    height: 400px;
    text-transform: uppercase;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background: url("../img/box.png") no-repeat bottom/contain;
    position: relative;
}

.hero__text-wrapper::after {
    width: 100%;
    height: 100%;
    content: "";
    background: url("../img/box-shadow.png") no-repeat center/contain;
    position: absolute;
    bottom: -40%;
    left: 0;
    z-index: -3;
}

.hero__title {
    color: #586967;
    font-size: 1.2rem;
    font-weight: lighter;
    letter-spacing: 2.4px;
    margin: 0;
}

.hero__big-paragraph {
    width: 100%;
    color: #333d3c;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 8px;
    margin: 1.5rem 0;
}

.hero__btn {
    color: #fff;
    font-size: 1.6rem;
    letter-spacing: 2.4px;
    padding: 0.5rem 1rem;
    margin-bottom: 8rem;
}

.draw-border {
    -webkit-box-shadow: inset 0 0 0 2px #fff;
    box-shadow: inset 0 0 0 2px #fff;
    color: #fff;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    position: relative;
}

.draw-border::before,
.draw-border::after {
    content: "";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0 solid transparent;
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

.draw-border::before {
    border-bottom-width: 2px;
    border-left-width: 2px;
}

.draw-border::after {
    border-top-width: 2px;
    border-right-width: 2px;
}

.draw-border:hover {
    color: #333d3c;
}

.draw-border:hover::before,
.draw-border:hover::after {
    width: 100%;
    height: 100%;
    border-color: #333d3c;
    -webkit-transition: border-color 0s, width 0.3s, height 0.3s;
    -o-transition: border-color 0s, width 0.3s, height 0.3s;
    transition: border-color 0s, width 0.3s, height 0.3s;
}

.draw-border:hover::before {
    -webkit-transition-delay: 0s, 0s, 0.3s;
    -o-transition-delay: 0s, 0s, 0.3s;
    transition-delay: 0s, 0s, 0.3s;
}

.draw-border:hover::after {
    -webkit-transition-delay: 0s, 0.3s, 0s;
    -o-transition-delay: 0s, 0.3s, 0s;
    transition-delay: 0s, 0.3s, 0s;
}

.scroll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: none;
}

.scroll__item {
    padding: 60px;
    color: #333d3c;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    position: relative;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.scroll__item:hover {
    color: #fff;
    font-weight: bold;
}

.scroll__item::before,
.scroll__item::after {
    content: "";
    width: 2px;
    position: absolute;
    top: 100px;
    left: 50%;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.scroll__item::before {
    height: 121px;
    background-color: #333d3c;
}

.scroll__item::after {
    height: 0;
    background-color: #fff;
}

.scroll__item:hover::after {
    height: 121px;
}

.hero__background-image {
    position: absolute;
    z-index: -3;
}

.hero__background-image--first {
    top: 10%;
    left: 40%;
}

.hero__background-image--second {
    top: 25%;
    left: 22%;
    z-index: -1;
}

.hero__background-image--third {
    top: 25%;
    left: 35%;
    z-index: -3;
}

.hero__background-image--fourth {
    top: 38%;
    left: 62%;
    z-index: -1;
}

.hero__background-image--fifth {
    top: 70%;
    left: 70%;
    z-index: 1;
}

.hero__background-image--sixth {
    top: 35%;
    left: 75%;
    z-index: 1;
}

.hero__background-image--seventh {
    top: 75%;
    left: 35%;
    z-index: 1;
}

.hero__background-image--eighth {
    top: 50%;
    left: 0;
}

.hero__background-image--ninth {
    top: 55%;
    left: 10%;
}

/* about-us */
.about-us {
    padding: 0;
}

.about-us__wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.about-us__logos-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.about-us__logo-wrapper {
    margin: 2.5rem 0;
    position: relative;
}

.sup-number {
    color: #868782;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.sup-number--for-logo {
    position: absolute;
    top: 20%;
    margin-left: 5%;
}

.about-us__second-logo-background {
    position: absolute;
    bottom: -100%;
    left: -10%;
    z-index: -1;
}

.about-us__text-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 2rem;
}

.about-us__paragraph {
    width: 100%;
    color: #868782;
    font-size: 0.9rem;
    line-height: 20px;
    letter-spacing: 0.07px;
    font-family: "sofia-pro", "Arial", sans-serif;
    margin-bottom: 2rem;
}

.about-us__team {
    width: 100%;
}

.about-us__member {
    width: 100%;
    max-width: 650px;
    font-weight: bold;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0.5rem 0;
    line-height: 30px;
}

.member__position {
    color: #868782;
    font-size: 1rem;
    letter-spacing: 1.6px;
}

.member__underline {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
}

.member__underline::after {
    content: "";
    width: 90%;
    height: 1px;
    background-color: #333d3c;
    position: absolute;
    left: 5%;
    bottom: 7px;
}

.member__name {
    color: #333d3c;
    font-size: 1.5rem;
    letter-spacing: 2.4px;
    text-align: right;
}

.member__btn {
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 2.4px;
    background-color: #bab8ac;
    padding: 0 0.3rem;
    margin-left: 0;
    -webkit-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
}

.member__btn:hover {
    background-color: #333d3c;
}

.about-us__background-image {
    position: absolute;
    z-index: -3;
}

.about-us__background-image--first {
    top: 0;
    left: 30%;
}

.about-us__background-image--second {
    top: 60%;
    left: 75%;
}

.about-us__background-image--third {
    top: 40%;
    left: 0;
}

.about-us__background-image--fourth {
    top: 140%;
    left: -45%;
}

/* mission */
.mission {
    margin-bottom: 5rem;
}

.slider__wrapper {
    width: 100%;
    min-height: 215px;
    padding: 1rem 2rem;
    background-color: rgba(255, 242, 221, 0.62);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}

.slider__paragraph {
    width: 100%;
    opacity: 0.49;
    color: #455251;
    font-family: "sofia-pro", "Arial", sans-serif;
    font-size: 0.9rem;
    line-height: 18px;
    letter-spacing: 0.07px;
    text-align: center;
    position: relative;
    display: none;
}

.slider__paragraph::after {
    content: "";
    width: 1px;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    right: -2rem;
    display: none;
}

.slider__paragraph--active {
    display: block;
}

.slider__headers {
    width: 100%;
    margin: 1rem 0 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slider__btn-header {
    width: 200px;
    color: #333d3c;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    margin: 0;
    text-align: left;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
}

.slider__btn-header--active {
    font-size: 3rem;
}

.slider__span {
    margin-right: 0.5rem;
}

.slider__btn {
    width: 30px;
    height: 30px;
    background-color: #bab8ac;
    border-radius: 50%;
    border: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 2rem;
    display: none;
}

.slider__icon {
    width: 8px;
    height: 15px;
    color: #ffffff;
}

.slider__btn:hover {
    background-color: #333d3c;
}

.slider__wrapper-photo-background {
    position: absolute;
    bottom: -30px;
    right: 200px;
}

/* why-us */
.why-us {
    position: relative;
}

.why-us__header-wrapper {
    padding: 2rem 0 5rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.section__title {
    font-weight: bold;
    text-transform: uppercase;
    color: #333d3c;
    font-size: 3rem;
    letter-spacing: 12px;
    margin: 0 0 1rem;
    position: relative;
}

.sup-number--for-title {
    position: absolute;
    top: 20%;
}

.why-us__paragraph {
    color: #868782;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 1.6px;
    text-align: center;
}

.benefits__wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: center;
    flex-direction: center;
}

.benefits__item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 1rem 0;
    padding: 0.5rem;
}

.benefits__item--column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

.benefits__photo-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.benefits__text-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

.benefits__title {
    color: #333d3c;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    position: relative;
    margin-bottom: 0.5rem;
}

.benefits__title::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #333d3c;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.benefits__paragraph {
    width: 100%;
    color: #868782;
    font-family: "sofia-pro", "Arial", sans-serif;
    font-size: 0.9rem;
    line-height: 20px;
    letter-spacing: 0.07px;
}

.why-us__background-image {
    position: absolute;
    z-index: -3;
}

.why-us__background-image--first {
    top: 20%;
    right: 10%;
}

.why-us__background-image--second {
    top: 25%;
    right: 13%;
}

.why-us__background-image--third {
    top: 60%;
    right: 0;
}

.why-us__background-image--fourth {
    top: 42%;
    right: 5%;
}

.why-us__background-image--fifth {
    top: 60%;
    left: -5%;
}

.why-us__background-image--sixth {
    top: 68%;
    left: 20%;
}

.why-us__background-image--seventh {
    top: 70%;
    left: 24%;
}

.why-us__background-image--eighth {
    top: 68%;
    left: 65%;
}

.why-us__background-image--ninth {
    top: 30%;
    left: 10%;
}

.why-us__background-image--tenth {
    top: 23%;
    left: 35%;
}

.why-us__background-image--eleventh {
    top: 42%;
    left: 32%;
}

.why-us__background-image--twelfth {
    top: 44%;
    right: 20%;
}

.why-us__background-image--thirteenth {
    top: 50%;
    right: 22%;
}

.why-us__background-image--fourteenth {
    top: 72%;
    right: 15%;
}

.why-us__background-image--fifteenth {
    top: 84%;
    right: 20%;
}

.why-us__background-image--sixteenth {
    top: 85%;
    right: 15%;
}

.why-us__background-image--seventeenth {
    bottom: -7%;
    left: 18%;
}

/* portfolio */
.portfolio__wrapper {
    width: 100%;
    background-color: rgba(255, 242, 221, 0.62);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 3.5rem 0.4rem;
}

.section__small-title {
    color: #333d3c;
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4.8px;
    position: relative;
    margin: 0;
}

.sup-number--for-small-title {
    position: absolute;
    top: 30%;
}

.section__paragraph {
    color: #868782;
    font-size: 1rem;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    text-align: center;
    margin: 2.5rem 0;
}

.section__btn {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    padding: 0.2rem 0.8rem;
    -webkit-transition: all ease-out 0.6s;
    -o-transition: all ease-out 0.6s;
    transition: all ease-out 0.6s;
}

.section__btn--portfolio {
    background-color: #bab8ac;
    color: #ffffff;
    -webkit-box-shadow: inset 0 0 0 0 #cbf2f0;
    box-shadow: inset 0 0 0 0 #cbf2f0;
}

.slide__left-diagonal:hover {
    -webkit-box-shadow: inset 400px 50px 0 0 #cbf2f0;
    box-shadow: inset 400px 50px 0 0 #cbf2f0;
}

.portfolio__background-photo {
    display: none;
}

.portfolio__background-image {
    position: absolute;
    z-index: -3;
}

.portfolio__background-image--first {
    top: 80%;
    right: 2%;
}

.portfolio__background-image--second {
    top: 20%;
    right: 10%;
}

.portfolio__background-image--third {
    top: 35%;
    left: 3%;
}

/* offer */
.offer__wrapper {
    width: 100%;
    background-color: #86857d;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 3.5rem 0.4rem;
    -webkit-box-shadow: -6px 11px 29px rgba(21, 53, 52, 0.14);
    box-shadow: -6px 11px 29px rgba(21, 53, 52, 0.14);
}

.section__small-title--offer {
    color: #fff;
}

.sup-number--offer {
    color: #bab8ac;
}

.section__paragraph--offer {
    color: #fff;
}

.section__btn--offer {
    border: 2px solid #cbf2f0;
    background-color: #cbf2f0;
    color: #333d3c;
    -webkit-box-shadow: inset 0 0 0 0 #bab8ac;
    box-shadow: inset 0 0 0 0 #bab8ac;
}

.slide__left-diagonal--offer:hover {
    -webkit-box-shadow: inset 400px 50px 0 0 #bab8ac;
    box-shadow: inset 400px 50px 0 0 #bab8ac;
    border: 2px solid #bab8ac;
}

/* contact */
.contact {
    padding: 0;
    position: relative;
}

.contact::after {
    content: "";
    width: 100%;
    height: 70%;
    background: url("../img/box2.png") no-repeat top/cover;
    position: absolute;
    bottom: -170px;
    right: 0;
    z-index: -3;
}

.contact__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding: 2rem 0;
}

.contact__form {
    background-color: rgba(255, 255, 255, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.form__title {
    color: #333d3c;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 9.6px;
    text-align: center;
    padding: 2.5rem;
    margin: 0;
}

.form__item-wrapper {
    width: 90%;
    margin: 0.6rem 0;
}

.form__item-wrapper:nth-of-type(1) {
    margin: 0 0 0.6rem;
}

.form__item {
    width: 100%;
    background: transparent;
    border: transparent;
    font-size: 0.8rem;
    color: #868782;
    font-family: "sofia-pro", "Arial", sans-serif;
    line-height: 18px;
    letter-spacing: 0.06px;
    padding: 0.5rem 0;
    border-bottom: 1px solid rgba(51, 61, 60, 0.48);
    text-align: center;
}

.form__input--resize {
    resize: vertical;
}

.form__btn-wrapper {
    margin: 1rem 0 2rem;
}

.form__btn {
    background-color: #bab8ac;
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    border: transparent;
    margin: 0 auto;
    cursor: pointer;
    -webkit-transition: background 0.6s, color 0.3s;
    -o-transition: background 0.6s, color 0.3s;
    transition: background 0.6s, color 0.3s;
}

.form__btn:hover {
    background-color: #a09d8d;
}

.address__wrapper {
    margin: 2rem 0;
    text-align: center;
}

.address {
    margin-top: 1.5rem;
}

.address__item {
    font-style: normal;
}

.address__span {
    color: #333d3c;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    line-height: 1.5;
}

.address__link {
    color: #868782;
    font-family: "sofia-pro", "Arial", sans-serif;
    font-size: 1rem;
    line-height: 18px;
    letter-spacing: 0.08px;
    text-decoration: none;
}

.contact__background-image {
    position: absolute;
    z-index: -3;
}

.contact__background-image--first {
    top: 10%;
    right: -5%;
}

.contact__background-image--second {
    top: 20%;
    left: 36%;
}

.contact__background-image--third {
    bottom: 10%;
    left: 5%;
}

.contact__background-image--fourth {
    bottom: -15%;
    right: 24%;
    z-index: 1;
}

/* footer */
.footer {
    width: 100%;
    padding: 3rem 0;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 5rem;
}

.footer__first-logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer__social-icons {
    margin: 2rem 0 1rem;
}

.social-icons__link--opacity {
    opacity: 0.8;
}

.footer-navigation {
    margin: 1rem 0 1.5rem;
    padding: 0;
    text-transform: uppercase;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer-navigation__item {
    margin: 0.4rem 0;
    position: relative;
}

.footer-navigation__item:first-of-type {
    margin-left: 0;
}

.footer-navigation__item::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #333d3c;
    position: absolute;
    left: 0;
    bottom: -4px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.footer-navigation__item:hover::after {
    width: 100%;
}

.footer-navigation__link {
    color: #333d3c;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 1.8px;
}

.footer__second-logo {
    width: 100%;
    text-align: center;
}

/* media queries*/
@media only screen and (min-width: 900px) {

    /* general */
    .wrapper {
        width: 80%;
    }

    /* header */
    .header__social-icons {
        display: block;
    }

    .header__languages {
        display: block;
    }

    /* navigation */
    .hamburger {
        background-color: #333d3c;
        top: 50%;
        right: 0;
    }

    .hamburger__inner {
        background-color: #eee0c9;
    }

    .hamburger__inner::before,
    .hamburger__inner::after {
        background-color: #eee0c9;
    }

    .hamburger--active {
        background-color: transparent;
        top: 2.5rem;
        right: 1.5rem;
    }

    /* hero */
    .hero__text-wrapper {
        height: 700px;
    }

    .hero__title {
        font-size: 1.6rem;
    }

    .hero__big-paragraph {
        font-size: 6rem;
        margin: 3rem 0;
    }

    .scroll {
        display: block;
    }

    .hero__background-image--second,
    .hero__background-image--fourth {
        z-index: 1;
    }

    /* about-us */
    .about-us {
        padding: 5rem 0;
    }

    .about-us__wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .about-us__logos-wrapper {
        width: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .about-us__text-wrapper {
        width: 50%;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-top: 0;
    }

    /* mission */
    .slider__wrapper {
        width: 90%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .slider__paragraph {
        width: 50%;
    }

    .slider__headers {
        width: 50%;
        margin: 0 0 0 4rem;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .slider__btn-header {
        text-align: left;
    }

    .slider__paragraph::after {
        display: block;
    }

    .slider__btn {
        display: block;
    }

    /* why-us */
    .why-us {
        padding: 3rem 0;
        margin-bottom: 8rem;
    }

    .section__title {
        font-size: 5rem;
        letter-spacing: 24px;
        margin: 0 0 2rem;
    }

    .sup-number--for-title {
        top: 30%;
    }

    .benefits__item {
        width: 75%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: 0;
    }

    .benefits__photo-wrapper {
        position: relative;
    }

    .benefits__item--column-reverse {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .benefits__item--comfort {
        -ms-flex-item-align: start;
        align-self: flex-start;
        position: relative;
    }

    .benefits__photo--comfort-background {
        position: absolute;
        bottom: -40px;
        left: 0;
        display: block;
    }

    .benefits__photo--comfort-second-background {
        position: absolute;
        top: 40px;
        right: 0;
        display: block;
    }

    .benefits__item--security {
        max-width: 60%;
        -ms-flex-item-align: end;
        align-self: flex-end;
        position: relative;
    }

    .benefits__item--appreciation {
        max-width: 55%;
        -ms-flex-item-align: start;
        align-self: flex-start;
        position: relative;
    }

    .benefits__photo--appreciation {
        position: absolute;
        right: -20px;
    }

    .benefits__item--counting-down {
        max-width: 55%;
        -ms-flex-item-align: end;
        align-self: flex-end;
        margin: 1rem 0 2rem;
    }

    .benefits__item--enthusiasm {
        max-width: 90%;
        -ms-flex-item-align: start;
        align-self: flex-start;
    }

    .benefits__item--success {
        max-width: 60%;
        -ms-flex-item-align: end;
        align-self: flex-end;
        position: relative;
    }

    .benefits__photo--success {
        position: absolute;
        left: 20px;
        bottom: -190px;
    }

    .benefits__photo-wrapper {
        width: 50%;
    }

    .benefits__text-wrapper {
        width: 50%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: left;
        margin: 0 3rem;
    }

    .benefits__title::after {
        width: 46px;
    }

    /* portfolio-offer-wrapper */
    .portfolio-offer-wrapper {
        width: 100%;
        height: 600px;
        margin: 15rem 0 5rem;
        position: relative;
    }

    /* portfolio */
    .portfolio__wrapper {
        width: 50%;
        position: absolute;
        top: 0;
    }

    .portfolio__background-photo {
        position: absolute;
        bottom: -30px;
        left: 40px;
        display: block;
    }

    /* offer */
    .offer {
        width: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    /* contact */
    .contact {
        padding: 0 5rem;
    }

    .contact::after {
        width: 90%;
        height: 70%;
        right: -5%;
    }

    .contact__wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 3rem 0 15rem;
    }

    .address__wrapper {
        margin: 2rem 0;
        text-align: right;
    }

    /* footer */
    .footer {
        padding: 1rem 3rem;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .footer__first-logo {
        width: 20%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .footer__social-icons {
        margin: 0;
    }

    .footer-navigation {
        margin: 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .footer-navigation__item {
        margin: 0 0.8rem;
    }

    .footer-navigation__link {
        font-size: 1rem;
    }

    .footer__second-logo {
        width: 15%;
        text-align: right;
    }
}

@media only screen and (min-width: 1100px) {

    /* about-us */
    .about-us__member {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .member__btn {
        margin-left: 0.5rem;
    }
}
