/* general */
*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "ff-good-headline-web-pro-ext", "Arial", sans-serif;
}

html {
    background: #caf2f1 url("../img/background-gradient.png") no-repeat center bottom;
    background-size: cover;
}

.wrapper {
    width: 80%;
    max-width: 1250px;
    margin: 0 auto;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

/* header */
.header {
    padding: 1rem 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.link {
    text-decoration: none;
}

.header__social-icons {
    display: none;
}

.social-icons__link {
    opacity: 0.6;
    transition: opacity 0.3s;
}

.social-icons__link:hover {
    opacity: 1;
}

.social-icons__link:nth-of-type(2) {
    margin-left: 14px;
}

.header__languages {
    display: none;
}

.languages__link {
    color: #333d3c;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 1.8px;
    position: relative;
}

.languages__link:nth-of-type(2) {
    margin-left: 14px;
}

.languages__link::after {
    content: "";
    width: 0;
    height: 2px;
    background: #333d3c;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: width 0.3s;
}

.languages__link:hover::after {
    width: 100%;
}

/* navigation */
.hamburger {
    width: 60px;
    height: 60px;
    display: inline-block;
    cursor: pointer;
    border: 0;
    margin: 0;
    background-color: transparent;
    z-index: 3;
    position: fixed;
    top: 2.5rem;
    right: 1.5rem;
}

.hamburger, .navigation {
    transition: transform .3s .1s ease-in-out, visibility 0s .4s;
}

.hamburger--active {
    background: transparent;
}

.hamburger__box {
    width: 35px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger__inner {
    width: 100%;
    height: 3px;
    background-color: #333d3c;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.1s 0.2s ease-in-out;
}

.hamburger__inner::before,
.hamburger__inner::after {
    width: 100%;
    height: 3px;
    background-color: #333d3c;
    position: absolute;
    content: "";
    left: 0;
    transition: transform 0.2s 0.2s ease-in-out;
}

.hamburger__inner::before {
    top: -10px;
}

.hamburger__inner::after {
    top: 10px;
}

.hamburger--active .hamburger__inner {
    background-color: transparent;
}

.hamburger--active .hamburger__inner:before {
    transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__inner:after {
    transform: translateY(-10px) rotate(-45deg);
}

.navigation {
    height: 100vh;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    transform: translateX(100%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navigation--active {
    transform: translateX(0px);
    transition: transform .3s .1s ease-in-out, visibility 0s 0s;
    visibility: visible;
}

.navigation__list {
    width: 80%;
    margin: 2rem 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navigation__link {
    width: 100%;
    text-decoration: none;
    background: #caf2f1;
    color: #333d3c;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    padding: 0.2rem 0;
    line-height: 1.5;
    transition: background 0.3s, color 0.3s;
}

.navigation__link:hover {
    background: #eee0c9;
}

/* footer */
.footer {
    padding: 3rem 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__first-logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__social-icons {
    margin: 2rem 0 1rem;
}

.social-icons__link--opacity {
    opacity: 0.8;
}

.footer-navigation {
    margin: 1rem 0 1.5rem;
    padding: 0;
    text-transform: uppercase;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-navigation__item {
    margin: 0.4rem 0;
    position: relative;
}

.footer-navigation__item:first-of-type {
    margin-left: 0;
}

.footer-navigation__item::after {
    content: "";
    width: 0;
    height: 2px;
    background: #333d3c;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: all 0.3s;
}

.footer-navigation__item:hover::after {
    width: 100%;
}

.footer-navigation__link {
    color: #333d3c;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 1.8px;
}

.footer__second-logo {
    width: 100%;
    text-align: center;
}

/* media queries*/
@media only screen and (min-width: 900px) {

    /* header */
    .header__social-icons {
        display: block;
    }

    .header__languages {
        display: block;
    }

    /* navigation */
    .hamburger {
        background-color: #333d3c;
        top: 50%;
        right: 0;
    }

    .hamburger__inner {
        background-color: #eee0c9;
    }

    .hamburger__inner::before,
    .hamburger__inner::after {
        background-color: #eee0c9;
    }

    .hamburger--active {
        background: transparent;
        top: 2.5rem;
        right: 1.5rem;
    }

    /* footer */
    .footer {
        padding: 1rem 3rem;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer__first-logo {
        width: 20%;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer__social-icons {
        margin: 0;
    }

    .footer-navigation {
        margin: 0;
        flex-direction: row;
    }

    .footer-navigation__item {
        margin: 0 0.8rem;
    }

    .footer-navigation__link {
        font-size: 1rem;
    }

    .footer__second-logo {
        width: 15%;
        text-align: right;
    }
}

/*
notebook
fonts:
font-family: "sofia-pro", sans-serif;
font-family: "ff-good-headline-web-pro-ext", sans-serif;
*/
